#POSTGRES
POSTGRES_DB=proofmesh
POSTGRES_USER=proofmesh
POSTGRES_PASSWORD=proofmesh_dev_only
POSTGRES_PORT=5433

#KEYCLOAK
KEYCLOAK_PORT=8081

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=proofmesh_admin_dev_only

KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=proofmesh_keycloak_db_dev_only

KEYCLOAK_WEB_CLIENT_SECRET=change_me

#OIDC
OIDC_ISSUER_URI=http://localhost:8081/realms/proofmesh
OIDC_JWK_SET_URI=http://localhost:8081/realms/proofmesh/protocol/openid-connect/certs
OIDC_AUDIENCE=proofmesh-control-plane

DEMO_VIEWER_PASSWORD=change_me